@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat), "Century Gothic", Arial, Helvetica, sans-serif;
  
  --color-uc-green-dark: #00482B;
  --color-uc-green: #007B3E;
  --color-uc-yellow-gold: #DAAA00;
  --color-uc-yellow: #FBE122;
  --color-uc-orange: #F7931E;
  --color-uc-lime: #79C000;
  --color-uc-green-light: #91C256;
  --color-uc-turquoise: #00A99D;
  --color-uc-gray: #4D4D4D;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
